.container img { 
    max-width: 200px; 
    margin-left: -150px;
    }
    
    
    .card {
        background-color: black;
    }
    
    .card-body {
        background-color: black;
        color: white;
        padding-top: 10px;
    }
    .body{
        background-color: black;
    }
    .container-rodapé{
        background-color: rgb(169, 169, 172);
        text-align:center;
        margin-top: auto;}